PORT=5000
DB_HOST=host.docker.internal
DB_USER=root
DB_PASS=
DB_NAME=pharmacymanagement
DB_PORT=3306
SESSION_SECRET=smartpharma_local_secret
FRONTEND_ORIGIN=http://localhost:3000
TELEGRAM_BOT_TOKEN=
ADMIN_CHAT_ID=
